body{
    height: 300vh;
    margin: 5rem;
    width: 80vw;

    background: radial-gradient(circle at bottom, #69A1DD 1%, #416C9D 20%, #151515 60%) no-repeat;

    padding: 0 50px;
}

h1 {
    color: #19aceb;
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
}

.e-content {
    text-align: justify;
    color: #d35cd7;
}

li{
    /* list-style-image: url("Images/PlanetIcon.png"); */
    /* list-style-image: repeating-radial-gradient(circle at center, pink, black); */
    /* list-style-image: radial-gradient(circle at center in hsl longer hue, green 0, blue, red 50%);
    list-style-type: space-counter; */
    /* list-style: lower-alpha, lower-latin; */
    list-style-type: none;
    padding-bottom: 10px;
}

li:hover{
    cursor: url("Images/PlanetIcon.png"), pointer;
}