body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at left, #69A1DD 0.5%, #416C9D 10%, #151515 22%) no-repeat;
    overflow: hidden;
}

h1
{
    color: #5bbcf4;

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    font-size: 5rem;
    text-align: center;
    justify-content: center;

    margin: 1rem 0rem 0rem 0rem;
}

.Images
{
    height: 30vh;
    width: 30vw;
    padding: 2rem;
}

.Games
{
    height: 115vh;
}

.Games section
{
    text-align: justify;
    color: #fafafad5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    flex-direction: column-reverse;

    padding-inline: 1rem;
}

.Item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;
    border-color: #c245f3;
    border-width: 0.05rem;
    border-radius: 10%;
    border-spacing: 0.5rem;
    padding: 1rem;
    padding-inline: 1rem;

    margin-top: 2rem;
}

/* Media query for responsive design */

/* Mobile deivces in portrait mode */
@media (max-width: 750px) and (orientation: portrait)
{
    body
    {
        padding: 0;
        margin: 0.5rem;
        height: 102vh;
    }

    h1
    {
        font-size: 2rem;
    }

    .Me body
    {
        padding: 0;
        margin: 0.5rem;
        height: 40vh;
    }
    
    .h-card
    {
        font-size: 1rem;
        flex-direction: column;
        height: 62vh;
    } 
}

/* Mobile deivces in landscape mode */
@media (max-width: 750px) and (orientation: landscape)
{
    body
    {
        padding: 0;
        margin: 0.5rem;
        height: 102vh;
    }

    h1
    {
        font-size: 2rem;
    }

    .Me body
    {
        padding: 0;
        margin: 0.5rem;
        height: 30vh;
    }
    
    .h-card
    {
        font-size: 1rem;
        flex-direction: column;
        height: 65vh;
    } 
}

/* Tablet deivces and larger screen mobile devices in landscape */
@media (min-width: 750px) and (max-width: 1024.98px) and (orientation: portrait)
{
    body
    {
        padding: 0;
        margin: 0.5rem;
        height: 102vh;
    }

    .Me body
    {
        padding: 0;
        margin: 0.5rem;
        height: 25vh;
    }
    
    .h-card
    {
        font-size: 2rem;
        flex-direction: column;
        height: 68vh;
    } 
}