/* Styling specifically for the homepage */
#HomeTitle
{
    position: sticky;
    top: 2vh;
}

#HomeImg
{
    margin: 10px;
    max-height: max-content;
    min-height: min-content;
    height: auto;
    width: 50rem;
    max-width: 100%;
}

#Home
{
    height: 300vh;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(circle at bottom, #69A1DD 1%, #416C9D 20%, #151515 60%) no-repeat;

    padding: 0 50px;
}

h1
{
    color: #5bbcf4;
    
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
      
    font-size: 5rem; 
    text-align: center;
}

body
{
    height: 94vh;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(circle at left, #69A1DD 0.5%, #416C9D 2%, #151515 20%) no-repeat;

    padding: 0 50px;
}

/* Styling the information about me */
.h-card
{
    text-align: justify;
    color: #fafafad5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70vw;
    height: 50vh;
    font-size: 2rem;
    flex-direction: row-reverse;

    padding-inline: 1rem;
}

.ContactInfo
{
    margin-left: 2rem;
}

/* Navigation */
.MenuCheckbox
{
    display: none;
}

.MenuCheckbox:checked ~ .NavBar
{
    visibility: visible;
}

#MenuBtn
{
    height: 8vh;
    width: 8vw;
    padding: 0 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-radius: 50%;
    border-color: #E6A6FF;
    transition: all 0.01s ease;
    cursor: pointer;
    z-index: 10;
}

#MenuBtn:active
{
    box-shadow: 0px 0px 20px #FDD6FF;
}

#MenuBtn:hover
{
    background-color: #E6A6FF;
    border-radius: 50%;
}

/* Colour change of the icon when hovering over button */
#MenuBtn:hover .material-symbols-outlined
{
    color: #151515;
}

.Navigation
{
   display: flex;
   height: 10vh;
   width: 90%; 
   justify-content: flex-end;
   align-items: center;
   
   position: sticky;
   top: 15vh;

   transition: all 3s;
}

.NavBar
{
    visibility: hidden;
    position: absolute;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 20px;
}

.NavBar ul li
{
    text-align: center;
    display: inline-block;
}

.NavBar ul li a
{    
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #92A8D1;
}

.NavBar li a:hover
{
    cursor: pointer;
    color: #E6A6FF;
    border-style: dashed;
    border-radius: 14%;
    padding: 0.1 0px;
}

.NavBar li.ActivePage
{
    background-color: #FDD6FF;
    color: #151515;
    padding: 1rem 2rem;
    cursor: default;
    border-radius: 10rem;
    font-size: 2rem;
}

/* GoogleFont variable font for menu icon*/
.material-symbols-outlined 
{
    font-size: 6.8vh; 
    color: #5bbcf4;

  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' -20,
  'opsz' 48
}

/* Media query for responsive design */

/* Mobile deivces in portrait mode */
@media (max-width: 750px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }

    .NavBar
    {
        height: auto;
        margin-inline: 10px;
        padding-top: 1rem;
    }

    .NavBar ul
    {
        text-align: left;
        display: block;
        padding: 0;
        margin: 0;
    }

    .NavBar ul li
    {
        text-align: center;
        display: block;
        padding: 4px;
    }

    .NavBar ul li a{
        padding: 2px 0px;
        font-size: 1rem;
    }

    .NavBar li.ActivePage
    {
        background-color: #FDD6FF;
        padding: 0 0.5rem;
        cursor: default;
        font-size: 1rem;
    }
    
    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 20vh;
        top: 32vh;
    }

    #MenuBtn
    {
        height: 5vh;
        width: 5vw;
    }

    .material-symbols-outlined 
    {
        font-size: 4vh; 
    }
}

/* Mobile deivces in landscape mode */
@media (max-width: 750px) and (orientation: landscape)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 1vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }

    .NavBar
    {
        height: 15vh;
        right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0rem 1rem;
    }

    .NavBar ul
    {
        height: 15vh;
        display: flex;
        text-align: left;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .NavBar ul li
    {
        text-align: center;
        display: block;
        padding: 0px;
        margin: 0.5rem 0rem;
    }

    .NavBar ul li a{
        padding: 0;
        font-size: 1rem;
    }

    .NavBar li.ActivePage
    {
        display: flex;
        background-color: #FDD6FF;
        padding: 0 0.3rem;
        cursor: default;
        font-size: 1rem;
        margin: 0;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
    
    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 15vh;
        width: 80vw;
        top: 20vh;
    }

    #MenuBtn
    {
        height: 5vh;
        width: 5vw;
    }

    .material-symbols-outlined 
    {
        font-size: 4vh; 
    }
}

/* Tablet deivces and larger screen mobile devices in landscape */
@media (min-width: 750px) and (max-width: 1024.98px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 6vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }

    .NavBar
    {
        height: 30vh;
        right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        top: 12vh;
    }

    .NavBar ul
    {
        height: 15vh;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 8rem;
    }

    .NavBar ul li
    {
        text-align: center;
        display: flex;
        padding: 0px;
        margin: 0.5rem 0rem;
    }

    .NavBar ul li a{
        padding: 0;
        font-size: 2rem;
    }

    .NavBar li.ActivePage
    {
        display: flex;
        background-color: #FDD6FF;
        padding: 0 0.3rem;
        cursor: default;
        font-size: 2rem;
        margin: 0;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
    
    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 15vh;
        width: 80vw;
        top: 4vh;
    }

    #MenuBtn
    {
        height: 5vh;
        width: 5vw;
    }

    .material-symbols-outlined 
    {
        font-size: 4vh; 
    }
}