/* Styling specifically for the homepage */
#HomeTitle
{
    position: sticky;
    top: 2vh;
}

#HomeImg
{
    margin: 10px;
    max-height: max-content;
    min-height: min-content;
    height: auto;
    width: 50rem;
    max-width: 100%;
}

#Home
{
    height: 300vh;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(circle at bottom, #69A1DD 1%, #416C9D 20%, #151515 60%) no-repeat;

    padding: 0 50px;
}

h1
{
    color: #5bbcf4;
    
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
      
    font-size: 5rem; 
    text-align: center;
}

body
{
    height: 94vh;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(circle at left, #69A1DD 0.5%, #416C9D 2%, #151515 20%) no-repeat;

    padding: 0 50px;
}

.e-content
{
    text-align: justify;
    color: #fafafad5;
}

/* Navigation */
.MenuCheckbox
{
    display: none;
}

.MenuCheckbox:checked ~ .NavBar
{
    visibility: visible;
}

#MenuBtn
{
    height: 8vh;
    width: 8vw;
    padding: 0 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-radius: 50%;
    border-color: #E6A6FF;
    transition: all 0.01s ease;
    cursor: pointer;
    z-index: 10;
}

#MenuBtn:active
{
    box-shadow: 0px 0px 20px #FDD6FF;
}

#MenuBtn:hover
{
    background-color: #E6A6FF;
    border-radius: 50%;
}

.Navigation
{
   display: flex;
   height: 10vh;
   width: 90%; 
   justify-content: flex-end;
   align-items: center;
   
   position: sticky;
   top: 15vh;

   transition: all 3s;
}

.NavBar
{
    visibility: hidden;
    position: absolute;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 20px;
}

.NavBar ul li
{
    text-align: center;
    display: inline-block;
}

.NavBar ul li a
{    
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #92A8D1;
}

.NavBar li a:hover
{
    cursor: pointer;
    color: #E6A6FF;
    border-style: dashed;
    border-radius: 14%;
    padding: 0.1 0px;
}

.NavBar li.ActivePage
{
    background-color: #FDD6FF;
    color: #151515;
    padding: 1rem 2rem;
    cursor: default;
    border-radius: 10rem;
    font-size: 2rem;
}

/* GoogleFont variable font for menu icon*/
.material-symbols-outlined 
{
    font-size: 6.8vh;

  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' -20,
  'opsz' 48
}

/* Media query for responsive design */

/* Mobile deivces */
@media (max-width: 900px)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }

    .NavBar
    {
        height: auto;
        margin-inline: 10px;
    }

    .NavBar ul
    {
        text-align: left;
        display: block;
        padding: 0;
    }

    .NavBar ul li
    {
        text-align: left;
        display: block;
        padding: 2px;
    }

    .NavBar ul li a{
        padding: 2px 0px;
        font-size: 1rem;
    }

    .NavBar li.ActivePage
    {
        background-color: #FDD6FF;
        background-size: 10% 10%;
        padding: 0 0.5rem;
        cursor: default;
        border-radius: 1rem;
        font-size: 1rem;
    }   

    .Navigation
    {
        height: 20vh;
        top: 25vh;
    }

    #MenuBtn
    {
        height: 5vh;
        width: 5vw;
    }
}

/* Tablet deivces */
@media (min-width: 900px)
{
    body
    {
        padding: 0;
    }

    .Navigation
    {
        height: 10vh;
        top: 15vh;
    }

    .NavBar ul
    {
        text-align: left;
        display: block;
        padding: 0;
        justify-content: center;
    }
}