/* GoogleFont variable font for menu icon*/
.material-symbols-outlined
{
    transform: scale(3);
    color: #5bbcf4;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' -20,
        'opsz' 48
}

/* Colour change of the icon when hovering over button */
#MenuBtn:hover .material-symbols-outlined
{
    color: #151515;
}

/* Navigation */
#MenuBtn
{
    height: 10vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-radius: 50%;
    border-color: #E6A6FF;
    transition: all 0.01s ease;
    cursor: pointer;
    z-index: 10;
}

#MenuBtn:active
{
    box-shadow: 0px 0px 20px #FDD6FF;
}

#MenuBtn:hover
{
    background-color: #E6A6FF;
    border-radius: 50%;
}

.Navigation
{
    display: flex;
    height: 10vh;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    transition: all 3s;
}

.NavBar
{
    display: flex;
    visibility: visible;
    position: absolute;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.NavBar.visible
{
    visibility: hidden;
}

.NavBar ul li
{
    text-align: center;
    display: inline-block;
    justify-content: flex-end;
    position: relative;
}

.NavBar ul li a
{
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #92A8D1;
}

.NavBar li a:hover
{
    cursor: pointer;
    color: #E6A6FF;
    border-style: dashed;
    border-radius: 14%;
    padding: 0.1 0px;
}

.NavBar li.ActivePage
{
    background-color: #FDD6FF;
    color: #151515;
    padding: 1rem 2rem;
    cursor: default;
    border-radius: 10rem;
    font-size: 2rem;
}

.NavBar li.ActivePage:hover
{
    cursor: pointer;
    border-style: dashed;
    border-radius: 10rem;
    border-color: #c245f3;
}

/* Sub-pages drop-down list styling */
.NavBar ul li .SubPages
{
    display: none;
    position: absolute;
    /* align dropdown below parent menu item */
    top: 100%;
    left: -40rem;
    padding: 0;
    z-index: 5;
}

.NavBar ul li:hover .SubPages
{
    display: flex;
    flex-direction: row;
    float: left;
    width: 65vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.NavBar ul .SubPages
{
    margin: 0;
    padding: 0;
}

.SubPages li
{
    text-align: right;
    justify-content: left;
    margin: 0;
}

.SubPages li a
{
    display: flex;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    color: #5bbcf4;
    text-decoration: none;
}

.SubPages li a:hover
{
    cursor: pointer;
    color: #E6A6FF;
    border-style: dashed;
    border-radius: 14%;
    /* padding: 0.1 0px; */
}

/* Mobile deivces in portrait mode */
@media (max-width: 750px) and (orientation: portrait)
{
    .NavBar
    {
        height: auto;
        margin-inline: 10px;
        padding-top: 1rem;
    }

    .NavBar ul
    {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
        margin-top: 20rem;
    }

    .NavBar ul li
    {
        text-align: center;
        display: block;
        padding: 4px;
    }

    .NavBar ul li a
    {
        padding: 2px 0px;
        font-size: 1rem;
    }

    .NavBar li.ActivePage
    {
        background-color: #FDD6FF;
        padding: 0 0.5rem;
        cursor: default;
        font-size: 1rem;
    }

    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 20vh;
        top: 32vh;
    }

    #MenuBtn
    {
        width: 15vw;
    }

    .Me .NavBar ul
    {
        margin-top: 2rem;
    }

    .Me .NavBar ul li
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 2vh;
    }

    .Me .NavBar ul li a
    {
        font-size: 1.2rem;
    }

    .material-symbols-outlined
    {
        transform: scale(2);
    }
}

/* Mobile deivces in landscape mode */
@media (max-width: 750px) and (orientation: landscape)
{
    .NavBar
    {
        height: auto;
        margin-inline: 10px;
        padding-top: 1rem;
    }

    .NavBar ul
    {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
        margin-top: 18rem;
    }

    .NavBar ul li
    {
        text-align: center;
        display: block;
        padding: 4px;
    }

    .NavBar ul li a
    {
        padding: 2px 0px;
        font-size: 1rem;
    }

    .NavBar li.ActivePage
    {
        background-color: #FDD6FF;
        padding: 0 0.5rem;
        cursor: default;
        font-size: 1rem;
    }

    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 20vh;
        top: 32vh;
    }

    #MenuBtn
    {
        width: 10vw;
        height: 20vh;
    }

    .Me .NavBar ul
    {
        margin-top: 2rem;
    }

    .Me .NavBar ul li
    {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        height: 2vh;
    }

    .Me .NavBar ul li a
    {
        font-size: 1.2rem;
    }

    .material-symbols-outlined
    {
        transform: scale(2);
    }
}

/* Tablet deivces and larger screen mobile devices in landscape */
@media (min-width: 750px) and (max-width: 1024.98px) and (orientation: portrait)
{
    .NavBar
    {
        height: 30vh;
        right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        top: 12vh;
    }

    .NavBar ul
    {
        height: 15vh;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 20rem;
        margin-right: 10rem;
    }

    .NavBar ul li
    {
        text-align: center;
        display: flex;
        padding: 0px;
        margin: 0.5rem 0rem;
    }

    .NavBar ul li a
    {
        padding: 0;
        font-size: 2rem;
    }

    .NavBar li.ActivePage
    {
        display: flex;
        background-color: #FDD6FF;
        padding: 0 0.3rem;
        cursor: default;
        font-size: 2rem;
        margin: 0;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }

    .NavBar li a:hover
    {
        cursor: pointer;
        color: #E6A6FF;
        border-style: dashed;
        border-radius: 14%;
        padding: 0.3rem;
    }

    .Navigation
    {
        height: 15vh;
        width: 80vw;
        top: 4vh;
    }

    #MenuBtn
    {
        height: 5vh;
        width: 5vw;
    }

    .material-symbols-outlined
    {
        font-size: 4vh;
    }

    #MenuBtn
    {
        height: 10vh;
        width: 12vw;
    }

    .SubPages
    {
        display: flex;
    }

    .Me .NavBar ul
    {
        margin-top: 2rem;
    }

    .Me .NavBar ul li
    {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        height: 2vh;
    }

    .Me .NavBar ul li a
    {
        font-size: 1.2rem;
    }

    .material-symbols-outlined
    {
        transform: scale(2);
    }
}