.Writings
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #69A1DD 0.5%, #416C9D 10%, #151515 15%) no-repeat;
}

.h-entry
{
    height: 100%;
    width: 70vw;
    font-size: 1rem;
    margin: 0rem 1rem;
    padding-left: 10vw;
    padding-right: 0.5vw;
    overflow-y: scroll;
    color: #fafafad5;
}

/* Width of the scrollbar */
.h-entry::-webkit-scrollbar {
    width: 15px;
}

/* Track (background) */
.h-entry::-webkit-scrollbar-track {
    background: #151515;
}

/* Handle (the part you drag) */
.h-entry::-webkit-scrollbar-thumb {
    height: 2px;
    background: linear-gradient(to top, #ff7eb3 10%, #416C9D 50%);
    border-radius: 10px;
}

/* Handle on hover */
.h-entry::-webkit-scrollbar-thumb:hover {
    background: #E6A6FF;
    cursor: pointer;
}

h1
{
    color: #5bbcf4;
    
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
      
    font-size: 3rem; 
    text-align: center;
    justify-content: center;

    margin: 1rem 0rem 0rem 0rem;
    padding-left: 15vw;
}

a.Reference:link
{
    color: #5bbcf4;
}

a.Reference:visited
{
    color: #E6A6FF;
}

a.Reference:hover, a.Reference:focus
{
    color: #151515;
    background-color: #E6A6FF;
}

.Images
{
    height: 50vh;
    width: 50vw;
}

.ColImages
{
    height: 25vh;
    width: 15vw;
}

.FontImages
{
    display: flex;
    height: 3vh;
}

/* Media query for responsive design */

/* Mobile deivces in portrait mode */
@media (max-width: 750px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 1rem;
        margin: 10px;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
        margin: 0;
    }
}

/* Mobile deivces in landscape mode */
@media (max-width: 750px) and (orientation: landscape)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 1vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }
}

/* Tablet deivces and larger screen mobile devices in landscape */
@media (min-width: 750px) and (max-width: 1024.98px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 6vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }
}