body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at left, #69A1DD 0.5%, #416C9D 10%, #151515 30%) no-repeat;
}

h1
{
    color: #5bbcf4;
    
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
      
    font-size: 5rem; 
    text-align: center;
    justify-content: center;

    margin: 1rem 0rem 0rem 0rem;
}

/* Sub page content */
.p-author
{
    color: #fafafad5;
}

.dt-published
{
    color: #fafafad5;
}

.h-entry
{
    height: 75vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15rem;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.e-content
{
    text-align: justify;
    color: #fafafad5;
}

a.Reference:link
{
    color: #5bbcf4;
}

a.Reference:visited
{
    color: #E6A6FF;
}

a.Reference:hover, a.Reference:focus
{
    color: #151515;
    background-color: #E6A6FF;
}

.Images
{
    height: 50vh;
    width: 50vw;
}

.Blog4
{
    height: 365vh;
}

.Blog4 .h-entry
{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0;
    padding-top: 165rem;
}

.Blog5
{
    height: 300vh;
}

.Blog5 .h-entry
{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.2rem;
    padding: 0;
    padding-top: 120rem;
}

.IxD
{
    height: 190vh;
}

.IxD .e-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 0;
}

.StyleProc
{
    height: 880vh;
}

.StyleProc .e-content
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.2rem;
    padding: 0;
}

.ColImages
{
    height: 25vh;
    width: 15vw;
}

.FontImages
{
    display: flex;
    height: 3vh;
}

/* Media query for responsive design */

/* Mobile deivces in portrait mode */
@media (max-width: 750px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 1rem;
        margin: 10px;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
        margin: 0;
    }
}

/* Mobile deivces in landscape mode */
@media (max-width: 750px) and (orientation: landscape)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 1vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }
}

/* Tablet deivces and larger screen mobile devices in landscape */
@media (min-width: 750px) and (max-width: 1024.98px) and (orientation: portrait)
{
    #HomeTitle
    {
        font-size: 3rem;
        margin: 10px;
        top: 6vh;
    }

    #HomeImg
    {
        margin: 5px;
        padding: 0;
    }

    body{
        padding: 0;
    }
}